@page "/BatchByBalanceDetails"
@using System.Text.Json;
@using System.IO
@using ClosedXML.Excel;
@using ICV2_Web.JSHelper 
@attribute [Authorize(Roles = "Administrator,User")]
@implements IDisposable
@inject AppState AppState
@inject HttpClient http
@inject IJSRuntime js


<div class="card shadow">
    @if (formModel != null)
    {
        <EditForm id="MyForm" Model="formModel" OnSubmit="GenerateReport">
            <div class="card-header bg-secondary text-white ">
                Batch No. Balance Details
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="datefrom" class="col-sm-2 col-form-label">Date from</label>
                    <div class="col-sm-10">
                        <InputDate id="datefrom" @bind-Value="formModel.DateFrom" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dateTo" class="col-sm-2 col-form-label">Date to</label>
                    <div class="col-sm-10">
                        <InputDate id="dateTo" @bind-Value="formModel.DateTo" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="stockgRoup" class="col-sm-2 col-form-label">Stockgroup</label>
                    <div class="col-sm-10">
                        <InputSelect id="stockgRoup" @bind-Value="formModel.StockGroup" class="form-control">
                            <option value="%%">All</option>
                            @if (StockGroup is not null)
                                {
                                @foreach (var item in StockGroup)
                                    {
                                    <option value="@item.GroupCode">@item.GroupCode</option>
                                    }
                                }
                        </InputSelect>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="stockLoc" class="col-sm-2 col-form-label">Location</label>
                    <div class="col-sm-10">
                        <InputSelect id="stockLoc" @bind-Value="formModel.Location" class="form-control">
                            <option value="%%">All</option>
                            @if (Location is not null)
                                {
                                @foreach (var item in Location)
                                    {
                                    <option value="@item.LocationCode">@item.LocationCode</option>
                                    }
                                }
                        </InputSelect>
                    </div>
                </div>
                <div class="form-check">
                    <InputCheckbox class="form-check-input" @bind-Value="formModel.IncludeZeroBalance" id="includeZeroCB"></InputCheckbox>
                    <label class="form-check-label" for="includeZeroCB">Exclude Zero On Hand Qty</label>
                </div>


            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-info">Generate Report</button>
                </div>
            </div>
        </EditForm>
    }
</div>
@*@if (Result.Count > 0)
    {*@




@code {

    //IJSObjectReference module;

    BATCHNOBALANCEDETAILSFILTER formModel = new();
    //private bool Submited = false;
    private IEnumerable<StockGroups> StockGroup { get; set; }
    private IEnumerable<StockLocations> Location { get; set; }
    //private IEnumerable<BATCHNOBALANCEDETAILSRESULT> result { get; set; }
    List<BATCHNOBALANCEDETAILSRESULT> Result = new List<BATCHNOBALANCEDETAILSRESULT>();
    private string CompCode { get; set; }

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        module = await js.InvokeAsync<IJSObjectReference>("import", "./DotnetJs/main.js");
    //        await module.InvokeVoidAsync("CreateWrapper", DotNetObjectReference.Create(this));
    //    }

    //}
    //private async Task GenerateReport()
    //{
    //    formModel.CompanyCode = AppState.selectedCompanyCode;
    //    await module.InvokeAsync<object>("TestFunctionCalledFromComponent", formModel);
    //    //Submited = true;
    //}

    protected override async Task OnInitializedAsync()
    {
        if (AppState.CompanyReady())
        {
            await LoadData();
        }
    }

    private async Task LoadData()
    {
        CompCode = AppState.selectedCompanyCode;

        StockGroup = await http.GetFromJsonAsync<IEnumerable<StockGroups>>("api/Qne/GetStockGroups?companyCode=" + CompCode);
        Location = await http.GetFromJsonAsync<IEnumerable<StockLocations>>("api/Qne/GetStockLocations?companyCode=" + CompCode);

    }
    private async Task GenerateReport()
    {
        formModel.CompanyCode = AppState.selectedCompanyCode;

        var httpRequest = await http.PostAsJsonAsync("api/Report/GenerateBatchNoBalDetails", formModel);

        if (httpRequest.IsSuccessStatusCode)
        {
            var responseString = await httpRequest.Content.ReadAsStringAsync();

            //Console.WriteLine(responseString);
            var data = JsonSerializer.Deserialize<List<BATCHNOBALANCEDETAILSRESULT>>(responseString,
              new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });

             await GenerateExcel(data);
        }
    }

    private async Task GenerateExcel(List<BATCHNOBALANCEDETAILSRESULT> data)
    {
        using (XLWorkbook wb = new XLWorkbook())
        {

            int rowNumber = 0;

            IXLWorksheet ws = wb.Worksheets.Add("Batch No. Balance Details");
            IXLCell cell;

            cell = ws.Cell("A" + ++rowNumber).SetValue(formModel.CompanyCode);
            cell.Style.Alignment.SetHorizontal(XLAlignmentHorizontalValues.Center);
            cell.Style.Font.Bold = true;

            var datetimeTo = formModel.DateTo == null ? DateTime.Now : formModel.DateTo;

            if (formModel.DateFrom is null)
            {

                cell = ws.Cell("A" + ++rowNumber).SetValue("As of " + datetimeTo?.ToString("MMM dd, yyyy"));
                cell.Style.Font.Bold = true;
            }
            else
            {

                cell = ws.Cell("A" + ++rowNumber).SetValue("Date From ");
                cell.Style.Font.Bold = true;
                cell = ws.Cell("B" + rowNumber).SetValue(formModel.DateFrom?.ToShortDateString());
                cell.Style.Font.Bold = true;

                cell = ws.Cell("A" + ++rowNumber).SetValue("Date To ");
                cell.Style.Font.Bold = true;
                cell = ws.Cell("B" + rowNumber).SetValue(formModel.DateTo?.ToShortDateString());
                cell.Style.Font.Bold = true;

            }

            #region Excel header
            cell = ws.Cell("A" + ++rowNumber).SetValue("STOCKCODE");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("B" + rowNumber).SetValue("STOCK NAME");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("C" + rowNumber).SetValue("LOCATION CODE");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("D" + rowNumber).SetValue("BATCHNO");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("E" + rowNumber).SetValue("EXPIRYDATE");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("F" + rowNumber).SetValue("QTY");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("G" + rowNumber).SetValue("UOM");
            cell.Style.Font.Bold = true;

            #endregion
            foreach (BATCHNOBALANCEDETAILSRESULT result in data)
            {
                rowNumber++;
                cell = ws.Cell("A" + rowNumber).SetValue(result.StockCode);
                cell = ws.Cell("B" + rowNumber).SetValue(result.StockName);
                cell = ws.Cell("C" + rowNumber).SetValue(result.LocationCode);
                cell = ws.Cell("D" + rowNumber).SetValue(result.Batchno);
                cell = ws.Cell("E" + rowNumber).SetValue(result.ExpiryDate);
                cell = ws.Cell("F" + rowNumber).SetValue(result.OnHandQty);
                cell = ws.Cell("G" + rowNumber).SetValue(result.UOMCode);

            }

            ws.Column("A").Width = 20;
            ws.Column("B").Width = 35;
            ws.Column("C").Width = 25;
            ws.Column("D").Width = 25;
            ws.Column("E").Width = 22;
            ws.Column("F").Width = 10;
            ws.Column("G").Width = 10;


            if (wb.Worksheets.Count > 0)
            {
                MemoryStream ms = GetStream(wb);
                byte[] bytes = ms.ToArray();
                ms.Close();

                await js.SaveAsFileAsync("BATCHBYBALANCEDEVAILS", bytes, "application/vnd.ms-excel");
            }
            else
            {
                await js.InvokeVoidAsync("alert", "No record found.");
            }

        }
    }
    private MemoryStream GetStream(XLWorkbook excelWorkbook)
    {
        MemoryStream fs = new MemoryStream();
        excelWorkbook.SaveAs(fs);
        fs.Position = 0;
        return fs;
    }
    private async Task AppState_StateChanged(ComponentBase Source, string Property)
    {
        if (Source != this)
        {
            if (AppState.CompanyReady())
            {
                await LoadData();
            }
            await InvokeAsync(StateHasChanged);
        }
    }
    protected override void OnInitialized()
    {
        AppState.StateChanged += async (Source, Property) => await AppState_StateChanged(Source, Property);
    }
    void IDisposable.Dispose()
    {
        AppState.StateChanged -= async (Source, Property) => await AppState_StateChanged(Source, Property);
    }
}
