@page "/DepartmentLedger"
@using System.Text.Json;
@using System.IO
@using ClosedXML.Excel;
@using ICV2_Web.JSHelper
@attribute [Authorize(Roles = "Administrator,User")]
@implements IDisposable
@inject AppState AppState
@inject HttpClient http
@inject IJSRuntime js


@if (AppState.CompanyReady())
{
    <div class="card shadow">
        @if (formModel != null)
        {
            <EditForm id="MyForm" Model="formModel" OnSubmit="GenerateReport">
                <div class="card-header bg-secondary text-white ">
                    Department Ledger
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Department</label>
                        <div class="col-sm-10">
                            @if (departments != null)
                            {
                            <BlazorListBox DataOptions="departments" displaySize="5" Value="selectedDepartments" ValueChanged="SelectedDeptsMethod"></BlazorListBox>
                            }
                        </div>
                    </div>
                 
                    @if (selectedDepartments != null)
                    {
                        if (gLAccounts != null)
                        {
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Account Name</label>
                            <div class="col-sm-10">
                                <GLAccountListBox DataOptions2="gLAccounts" displaySize2="5" Value2="selectedGLAccounts" ValueChanged2="SelectedGLsMethod"></GLAccountListBox>
                            </div>
                        </div>
                        }
                    }

                        <div class="form-group row">
                            <label for="datefrom" class="col-sm-2 col-form-label">Date from</label>
                            <div class="col-sm-10">
                                <InputDate id="datefrom" @bind-Value="formModel.DateFrom" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dateTo" class="col-sm-2 col-form-label">Date to</label>
                            <div class="col-sm-10">
                                <InputDate id="dateTo" @bind-Value="formModel.DateTo" class="form-control" />
                            </div>
                        </div>
                        @*<div class="form-group row">
                <label for="stockgRoup" class="col-sm-2 col-form-label">Stockgroup</label>
                <div class="col-sm-10">
                    <InputSelect id="stockgRoup" @bind-Value="formModel." class="form-control">
                        <option value="%%">All</option>
                        @if (departments is not null)
                        {
                            @foreach (var item in departments)
                            {
                                <option value="@item.Id">@item.GroupCode</option>
                            }
                        }
                    </InputSelect>
                </div>
            </div>*@

                    </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-info">Generate Report</button>
                    </div>
                </div>
            </EditForm>
        }
    </div>

}
else
{
    <div class="col-6">
        <h4 class="alert alert-info text-center shadow">SELECT COMPANY FIRST</h4>
    </div>
}

@code {

    DEPARTMENTLEDGERFILTER formModel = new();

    private List<Company> companies { get; set; }
    private List<Department> departments { get; set; }
    List<GLAccounts> gLAccounts = new List<GLAccounts>();

    List<string> selectedDepartments = new List<string>();
    List<string> selectedGLAccounts = new List<string>();
    private string CompCode { get; set; }

    public void SelectedGLsMethod(List<string> Selected)
    {
        selectedGLAccounts = new List<string>();
        List<string> temp = new List<string>();
        foreach (var item in Selected)
        {
            temp.Add(item);
        }
        selectedGLAccounts = temp;

        //if (selectedGLAccounts.Count > 0)
        //{
        //    foreach (var item in selectedGLAccounts)
        //    {
        //        Console.WriteLine(item);
        //    }
        //}
    }

    public async Task SelectedDeptsMethod(List<string> Selected)
    {

        gLAccounts.Clear();
        selectedDepartments = new List<string>();
        List<string> temp = new List<string>();
        foreach(var item in Selected)
        {
            temp.Add(item);
        }
        selectedDepartments = temp;

        if (selectedDepartments != null)
        {
            //foreach(var item in selectedDepartments)
            //{
            //    Console.WriteLine(item);
            //}

            foreach(var item in selectedDepartments)
            {
                var DeptId = departments.Find(x => x.AccountCode == item).Id;
                if(DeptId != Guid.Empty)
                {
                    //Console.WriteLine(item);
                    var data  = await http.GetFromJsonAsync<List<GLAccounts>>("api/Qne/GetGLAccounts?companyCode=" + CompCode + "&AccountIds="+DeptId);

                    if (data != null)
                    {
                        foreach(var item2 in data)
                        {
                            gLAccounts.Add(item2);
                        }
                    }
                }
            }

        }
    }

    private async Task GenerateReport()
    {
        DEPARTMENTLEDGERFILTER filter = new DEPARTMENTLEDGERFILTER();
        filter.DateFrom = formModel.DateFrom;
        filter.DateTo = formModel.DateTo;
        filter.DepartmentAccountCodes = selectedDepartments;
        filter.GLAccountCodes = selectedGLAccounts;
        filter.CompanyCode = AppState.selectedCompanyCode;

        var httpRequest = await http.PostAsJsonAsync("api/Report/GenerateDepartmentLedger", filter);

        if (httpRequest.IsSuccessStatusCode)
        {
            var responseString = await httpRequest.Content.ReadAsStringAsync();

            //Console.WriteLine(responseString);
            var data = JsonSerializer.Deserialize<List<DEPARTMENTLEDGERRESULT>>(responseString,
              new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });

            await GenerateExcel(data);

        }
    }
    private async Task GenerateExcel(List<DEPARTMENTLEDGERRESULT> data)
    {
        string PayToCompany = companies.Where(y => y.Code == CompCode).Select(x => x.Name).First();

        using (XLWorkbook wb = new XLWorkbook())
        {
            var AccountCodes = data.Select(x => x.AccountCode).Distinct();

            foreach(var item in AccountCodes)
            {
                int rowNumber = 0;

                IXLWorksheet ws = wb.Worksheets.Add(item);
                IXLCell cell;

                cell = ws.Cell("A" + ++rowNumber).SetValue("Company ");
                cell.Style.Font.Bold = true;

                cell = ws.Cell("B" + rowNumber).SetValue(PayToCompany);
                cell.Style.Alignment.SetHorizontal(XLAlignmentHorizontalValues.Center);
                cell.Style.Font.Bold = true;

                cell = ws.Cell("A" + ++rowNumber).SetValue("Department ");
                cell.Style.Font.Bold = true;

                cell = ws.Cell("B" + rowNumber).SetValue(item);
                cell.Style.Alignment.SetHorizontal(XLAlignmentHorizontalValues.Center);
                cell.Style.Font.Bold = true;

                var datetimeTo = formModel.DateTo == null ? DateTime.Now : formModel.DateTo;

                if (formModel.DateFrom is null)
                {

                    cell = ws.Cell("A" + ++rowNumber).SetValue("As of " + datetimeTo?.ToString("MMM dd, yyyy"));
                    cell.Style.Font.Bold = true;
                }
                else
                {

                    cell = ws.Cell("A" + ++rowNumber).SetValue("Date From ");
                    cell.Style.Font.Bold = true;
                    cell = ws.Cell("B" + rowNumber).SetValue(formModel.DateFrom?.ToShortDateString());
                    cell.Style.Font.Bold = true;

                    cell = ws.Cell("A" + ++rowNumber).SetValue("Date To ");
                    cell.Style.Font.Bold = true;
                    cell = ws.Cell("B" + rowNumber).SetValue(formModel.DateTo?.ToShortDateString());
                    cell.Style.Font.Bold = true;

                }

                rowNumber++;

                #region Excel header
                cell = ws.Cell("A" + ++rowNumber).SetValue("DEPARTMENT CODE");
                cell.Style.Font.Bold = true;

                cell = ws.Cell("B" + rowNumber).SetValue("DATE");
                cell.Style.Font.Bold = true;

                cell = ws.Cell("C" + rowNumber).SetValue("ACCOUNT CODE");
                cell.Style.Font.Bold = true;

                cell = ws.Cell("D" + rowNumber).SetValue("ACCOUNT NAME");
                cell.Style.Font.Bold = true;

                cell = ws.Cell("E" + rowNumber).SetValue("REFERENCE");
                cell.Style.Font.Bold = true;

                cell = ws.Cell("F" + rowNumber).SetValue("DESCRIPTION");
                cell.Style.Font.Bold = true;

                cell = ws.Cell("G" + rowNumber).SetValue("AMOUNT");
                cell.Style.Font.Bold = true;

                cell = ws.Cell("H" + rowNumber).SetValue("REFERENCE");
                cell.Style.Font.Bold = true;

                cell = ws.Cell("I" + rowNumber).SetValue("JOURNAL TYPE");
                cell.Style.Font.Bold = true;

                var list = data.Where(x => x.AccountCode == item).OrderBy(x => x.TransactionDate).ToList();
                #endregion
                foreach (DEPARTMENTLEDGERRESULT result in list)
                {
                    rowNumber++;
                    cell = ws.Cell("A" + rowNumber).SetValue(result.AccountCode);
                    cell.Style.Alignment.SetHorizontal(XLAlignmentHorizontalValues.Left);
                    cell = ws.Cell("B" + rowNumber).SetValue(result.TransactionDate);
                    cell.Style.Alignment.SetHorizontal(XLAlignmentHorizontalValues.Left);
                    cell = ws.Cell("C" + rowNumber).SetValue(result.GLAccountCode);
                    cell.Style.Alignment.SetHorizontal(XLAlignmentHorizontalValues.Left);
                    cell = ws.Cell("D" + rowNumber).SetValue(result.GLAccountName);
                    cell.Style.Alignment.SetHorizontal(XLAlignmentHorizontalValues.Left);
                    cell = ws.Cell("E" + rowNumber).SetValue(result.DocumentCode);
                    cell.Style.Alignment.SetHorizontal(XLAlignmentHorizontalValues.Left);
                    cell = ws.Cell("F" + rowNumber).SetValue(result.Description);
                    cell.Style.Alignment.SetHorizontal(XLAlignmentHorizontalValues.Left);
                    cell = ws.Cell("G" + rowNumber).SetValue(result.Balance);
                    cell.Style.NumberFormat.Format = "#,##0.00";
                    cell.Style.Alignment.SetHorizontal(XLAlignmentHorizontalValues.Left);
                    cell = ws.Cell("H" + rowNumber).SetValue(result.ReferenceNo);
                    cell.Style.Alignment.SetHorizontal(XLAlignmentHorizontalValues.Left);
                    cell = ws.Cell("I" + rowNumber).SetValue(result.JournalType);
                    cell.Style.Alignment.SetHorizontal(XLAlignmentHorizontalValues.Left);

                }

                ws.Column("A").Width = 16;
                ws.Column("B").Width = 16;
                ws.Column("C").Width = 23;
                ws.Column("D").Width = 33;
                ws.Column("E").Width = 23;
                ws.Column("F").Width = 23;
                ws.Column("G").Width = 23;
                ws.Column("H").Width = 17;
                ws.Column("H").Width = 12;
            }

            if (wb.Worksheets.Count > 0)
            {
                MemoryStream ms = GetStream(wb);
                byte[] bytes = ms.ToArray();
                ms.Close();

                await js.SaveAsFileAsync("DepartmentLedger", bytes, "application/vnd.ms-excel");
            }
            else
            {
                await js.InvokeVoidAsync("alert", "No record found.");
            }

        }
    }
    private MemoryStream GetStream(XLWorkbook excelWorkbook)
    {
        MemoryStream fs = new MemoryStream();
        excelWorkbook.SaveAs(fs);
        fs.Position = 0;
        return fs;
    }
    protected override async Task OnInitializedAsync()
    {
        if (AppState.CompanyReady())
        {
            await LoadData();
        }
    }

    private async Task LoadData()
    {
        CompCode = AppState.selectedCompanyCode;
        companies = await http.GetFromJsonAsync<List<Company>>("api/Navigation/GetCompany");
        departments = await http.GetFromJsonAsync<List<Department>>("api/Qne/GetDepartments?companyCode=" + CompCode);

    }
    private async Task AppState_StateChanged(ComponentBase Source, string Property)
    {
        if (Source != this)
        {
            if (AppState.CompanyReady())
            {
                await LoadData();
            }
            await InvokeAsync(StateHasChanged);
        }
    }
    protected override void OnInitialized()
    {
        AppState.StateChanged += async (Source, Property) => await AppState_StateChanged(Source, Property);
    }
    void IDisposable.Dispose()
    {
        AppState.StateChanged -= async (Source, Property) => await AppState_StateChanged(Source, Property);
    }
}