@page "/Access"

<h3>ManageAccess</h3>

<div class="card shadow">
    <div class="card-header bg-secondary text-white">
        Manage user module
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer">

    </div>
</div>

@code {

}
